<h1>Manga Songs</h1>

<div>
 <%= search_form_for @q do |f| %>

  <%= f.label 'Rechercher une musique :' %>

  <%= f.text_field :title_cont %>

  <%= f.submit %>

<% end %>
 </div>

<table>
  <tr>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @musiques.each do |musique| %>
  <tr>
    <td><%= musique.title %></td>
    <td><%= musique.comments.count %></td>
    <td><audio controls id="video1"
  src="\music\<%= musique.name%>">
Your user agent does not support the HTML5 Audio element.
</audio> </td>
    <% if user_signed_in? %>
    <td><%= link_to 'Show', musique %></td>
    <td><%= link_to 'Edit', edit_musique_path(musique) %></td>
    <td><%= link_to 'Destroy', musique, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% else %>
    <% end %>
  </tr>
<% end %>
</table>


<p>musique en cours : </p>

<%= will_paginate @musiques %>

<br />

<%= link_to 'New Musique', new_musique_path %>
